[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
fastapi = {extras = ["all"], version = "*"}
asyncpg = "*"
python-dotenv = "*"
alembic = "*"
pytest-asyncio = "*"
shortuuid = "*"
asgi-lifespan = "*"
pytest-env = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = "*"

[dev-packages]

[requires]
python_version = "3.11"
